doctype
html
  head
    title #{title} - Gallery
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    header
        .nav.navbar.navbar-inverse.navbar-fixed-top 
          .container
            .navbar-header.page-scroll
              button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar" )
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand.logo(href="/") Picture Gallery
            div.collapse.navbar-collapse.pull-right(id="navbar")
              ul.nav.navbar-nav
                li: a( href="/") Home
                li: a( href="/about" ) About
                li: a( href="/contact" ) Contact

    .container
        .row
            div(style="border: 2px solid black;").col-md-8
              block content
            div(style="border: 2px solid black;").col-md-4
              block sidebar
    footer
        p.text-muted.text-center(style="margin-top: 20px") Responsive PictureGallery 2015 - Steffen Höfner - Student@ Uni-Würzburg
