main-color = #fa5b4d
.navbar
  .navbar-nav
    margin: 0 auto;
  text-align center
.avatar-box
  margin-top 5px
  margin-right 20px
.avatar-name
  margin-top 0px
.avatar
  padding-right 5px
  padding 0px
  margin-right 5px
body
  padding-top 65px
  margin-bottom: 60px;
  background-color: #000000
  background-image:url('http://media.steampowered.com/apps/csgo/blog/images/armsdeal/bg_footer.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;

.jackpot-title
  color main-color
  
.spin-game
  border: 2px solid black;
  margin: auto; 
  display: block;
  background-color: #CCCCCC;

footer
  position: fixed;
  width: 100%;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #373737;
#bet-button
  margin-bottom 10px
.hidden-alert
  display none
  
.case-container:before
  text-align:center;
  content:"Available Cases"
  font-size: xx-large;
  position:absolute;
  top:-50px;
  height:50px;
  left:0;
  right:0;
  bottom:0;
.case-container
  top:50px
  position:relative;  
  background-image:url('http://cases.goaggro.com/bg001.png')
  background-repeat:repeat-y
  background-size: 100% auto; 
  text-align:center;