.navbar {
  text-align: center;
}
.navbar .navbar-nav {
  margin: 0 auto;
}
body {
  padding-top: 65px;
  margin-bottom: 60px;
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}
.jackpot-title {
  color: #fa5b4d;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
/* Set the fixed height of the footer here */
  height: 60px;
  background-color: #373737;
}
.hidden-alert {
  display: none;
}
