main-color = #fa5b4d
.navbar
  .navbar-nav
    margin: 0 auto;
  text-align center

body
  padding-top 65px
  margin-bottom: 60px;
  background-color: #000000
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;

.jackpot-title
  color main-color

footer
  position: fixed;
  width: 100%;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #373737;
.hidden-alert
  display none
  

