main-color = #fa5b4d
.navbar
  .navbar-nav
    margin: 0 auto;
  text-align center

body
  padding-top 65px
  margin-bottom: 60px;
  background-color: #000000
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;

.website-title
  color main-color

.centered_image
  margin: auto;
  position: fixed;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  max-width: 100%;
  max-height: 80%;

.imgButton_Previous
  left: 0;
  position: absolute;

.imgButton_Next
  right: 0;
  position: absolute;
  
.imageContainer
  max-width:80%;
  top: 48%;
  left: 10%;


footer
  position: fixed;
  width: 100%;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #373737;
.hidden-alert
  display none
  

